.banner_background {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: url('../../assets/images/bannerHome.png');
    background-repeat: no-repeat;
    padding: 218px 270px 332px 270px;
    background-size: cover;
    gap: 30px;
}

.banner_title {
    border-radius: 0px 30px;
    background: rgba(51, 51, 51, 0.20);
    color: #FFF;
    font-size: 70px;
    font-family: Philosopher;
    font-style: italic;
    font-weight: 700;
    letter-spacing: 1.4px;
}

.banner_actions {
    display: flex;
    width: 700px;
    height: 84px;
    padding: 22px 55px 22px 54px;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    border-radius: 0px 20px;
    background: rgba(51, 51, 51, 0.35);backdrop-filter: blur(5px);
}

.banner_actions_title {
    color: #FFF;
    font-size: 19px;
}

.banner_actions_divisor {
    width: 40px;
    flex-shrink: 0;
}

.link {
    text-decoration: none;
}