.description{
    width: 50%;
    margin: 50px auto;
}
.tables{
    display: flex;
    gap: 20px;
}

.title{
    font-size: 28px;text-align: initial;
    margin-bottom: 30px;
}

.text{
    font-size: 16px;
    text-align: justify;
    margin: 0 0 50px 0;
}